.navbar{
    background-color: rgb(35, 168, 245);
    height: 50rem;
    border-radius: 0.5rem;
}

.navbar ul li{
    list-style: none;
    padding: 1.1rem;
}
.navbar ul li a{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
}
.dash{
    font-size: 2rem;
    font-weight: bold;
}
.navbar ul li #dash1{
    background-color: black;
}
.navbar ul li:hover{
    background-color: white;
}
.icon{
    font-size: 8rem;
    text-align: center;
    color: rgb(255, 0, 0);
}
.admin{
    background-color: rgb(146, 132, 49);
    border-radius: 0.5rem;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    padding: 0.8rem;
}
.box1{
    background-color: rgb(238, 197, 61);
    height: 11rem;
    margin-bottom: 1rem;
}
.uni{
    padding: 0.8rem;
    font-size: 1.8rem;
    color: black;
    font-weight: 800
}
.icon1{
    float: right;
    font-size: 3.5rem;
    color: black;
    padding-right: 1rem;
}
.no{
    font-size: 2.8rem;
    padding: 1.5rem;
    color: black;
    font-weight: 600;
}
.form1{
    background-color: rgb(177, 177, 177);
    padding: 1.5rem;
    margin-top: 3rem;
    margin-left: 20%;
    border-radius: 1rem;
    margin-bottom: 5rem;
}
.button4{
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.form2{
    background-color: rgb(177, 177, 177);
    padding: 1.5rem;
    margin-top: 3rem;
    margin-left: 20%;
    border-radius: 1rem;
    margin-bottom: 5rem;
}
.form3{
    background-color: rgb(177, 177, 177);
    padding: 1.5rem;
    margin-top: 3rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
}
.button1{
    background-color: rgb(138, 99, 201);
    text-align: center;
    padding: 0.5rem;
    color: white;
    border: none;
    border-bottom: 2px solid;
    border-color: black;
    font-size: 1.5rem;
}
.hidden{
	display: none;
}
.show{
	display: block;
}
#button5{
    font-size: 1.8rem;
    font-family:'Times New Roman', Times, serif;
}
.button5{
    padding: 0.8rem;
    background-color: rgb(196, 195, 195);
    border: none;
    border-bottom: 0.1rem solid;
    border-color: black ;
}

.showalluni{
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    background-color: royalblue;
    border-radius: 0.5rem;
    font-weight: bolder;
    padding: 2rem;
}